@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

html {
    height: 100%;
}

body {
	background : #000;
	color : #888;	
	font-family: 'Source Code Pro', Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;	
	vertical-align: middle;
}

hr{    
    background-color: transparent;    
    width: 40%;
    border:none;
    border-top:1px dashed #888;
    color:#888;    
    height:0px;    
}

#struttura{
    max-width: 900px;
    width: 100%;
    word-wrap: break-word;
}

#col-menu{
    width: calc(20% - 10px);    
    float: left;
}

.col-cent{
    width: 60%;   
    border-radius: 4px; 
}
.col-cent.main{    
    background-color:#272727;    
}

.col-dx{
    float: right;
    width: calc(20% - 10px);    
}

.table-dx{
    width: 100%;
    background-color:#272727;
    border-radius: 4px;
    margin-bottom: 5px;
    min-height: 12px;
    padding: 5px;
}
.space{    
    margin-top: 10px;
}

#menu_block #main_menu{
	width: 100%;
	text-align: left;	
	list-style: none;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;	
}
.cell {	
	padding: 10px;
}

#menu_block #main_menu li a{
	display: block;
	padding: 5px;
	color: #CCCCCC;
	background-color: #272727;
	text-decoration: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 1px;
	margin-left: 0px;
	border-radius: 4px;
}
#menu_block #main_menu li a:hover{
	background-color: #2f3d51;
}
.logincell {		
	padding: 2px;
    color: #00FF00;
    margin-bottom: 5px;
}


.xfr1 {
	font-size: 11px;
	color: #000000;
}
a:visited {
	color: #009900;
}
a:link {
	color: #00FF00;
}
.style2 {
	font-size: 10;
	color: #00FF00;
	border-color: #999999;
}
.style4 {
	color: #00FF00;
	font-size: 16px;
	font-weight: bold;
}
.hack_menu {
	color: #00FF00;
}
.style7 {
	font-size: 11px;
	color: #00FF00;
}

.tab-pratiche{
	border: 1px groove #ffffff;
	padding: 3px;
}

/* home
--------------------------------------------------------------- */
#list-home{
    text-align: left;
    width: 70%;
}
#list-home ul li{
    list-style-type: none;    
}


/* assistenza
--------------------------------------------------------------- */
#assistenza{
    width: 90%;   
}

#assistenza table{
    width: 100%;   
}

#form1 input[type=text]{
    width: 90%;
}

#form1 textarea{
    width: 89%;
}

/* forms
--------------------------------------------------------------- */
.formsDiv{
    width: 40%;   
    padding-left: 3%;
}

.formsDiv table{
    width: 100%;   
}

.forms input[type=text]{
    width: 90%;
}

.forms input[type=password]{
    width: 90%;
}

.forms textarea{
    width: 89%;
}


/* RESPONSIVE
--------------------------------------------------------------- */
@media screen and (max-width: 1300px) {
    body {
        background: black;
    }
    
    #struttura{
        width: 65%;
        word-wrap: break-word;        
    }
    
    #col-menu{
        /* width: 10%; */
    }

    .col-cent{
        /* width: 50%;    */
    }

    .col-dx{
        /* width: 14%; */
    }
}

@media screen and (max-width: 1024px) {
    body {
        background: black;
    }
    
    #struttura{
        width: 100%;
        word-wrap: break-word;
    }
    
    #col-menu{
        /* width: 20%; */
    }

    .col-cent{
        /* width: 60%;    */
    }

    .col-dx{
        /* width: 20%; */
    }
}

@media screen and (max-width: 480px) {
    body {
        background: black;
    }
    
    #struttura{
        width: 100%;
        word-wrap: break-word;
    }
    
    #col-menu{
        /* width: 20%; */
    }

    .col-cent{
        /* width: 50%;    */
    }

    .col-dx{
        /* width: 20%; */
    }
    
    #form1 input[type=text]{
    width: 90%;
    }
    
    #form1 textarea{
    width: 95%;
    }
    
    #assistenza{
        width: 100%;   
    }

    #assistenza table{
        width: 100%;   
    }
    
    /* forms
    --------------------------------------------------------------- */
    .formsDiv{
        width: 100%;   
    }

    .formsDiv table{
        width: 100%;   
    }

    .forms input[type=text]{
        width: 90%;
    }

    .forms input[type=password]{
        width: 90%;
    }

    .forms textarea{
        width: 95%;
    }
}

@media screen and (max-width: 320px) {
    body {
        background: black;
    }
    
    #struttura{
        width: 100%;
        word-wrap: break-word;
    }
    
    #col-menu{
        /* width: 18%; */
    }

    .col-cent{
        /* width: 50%;    */
    }

    .col-dx{
        /* width: 20%; */
        /* display: none; */
    }
}