
/* ADMIN */
#hw-admin{
  width: 100%;
  margin: 0 auto;  
  background-color: #efefef;
  height: 100vh;
}
#hw-admin .inner{
  padding: 0px;    
}
.login_form{
  max-width:310px; 
  text-align:left; 
  margin:0 auto;
}
.login_form input{
  width: 100%;
  margin-bottom:0px;
}
.admin-menu{
  /* margin-bottom:20px; */
  text-align: left;
  background-color: #fff;
  /* margin-left: -20px;
  margin-right: -20px; */
  /* padding: 0 20px; */
  background-color: #243447; /* #243447; */
  height: 33px;
  max-height: 33px;
  transition: max-height 0.2s ease-out;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 100;
}
.admin-menu .menu-buttons{
  padding: 5px 1px 0px;
  text-align: left;
}
.admin-menu .menu-buttons .btn{
  margin-bottom: 5px;
  cursor: pointer;
}
.login-status{
  margin-top: 10px;
}
.load-status{
  margin-top: 10px;
}
#admin-content{
  text-align: left;
  /* padding: 0 20px; */
  /* margin-top:33px; */
  /* margin-left: 150px; */
  padding: 20px;
  background-color: #efefef;
  min-height: calc(100vh - 33px);
  margin-top: 33px;
}
.adm-margin_left{
  margin-left: 150px;
}
.admin-left-menu{
  z-index: 100;
  position: fixed;
  left: 0;
  width: 150px;
  max-width: 150px;
  background-color: #243447; /* #243447; */
  height: calc(100% - 33px);
  top: 33px;
  padding-top: 10px;
  text-align: left;
  overflow: auto;
  transition: max-width 0.2s ease-out;  
}
.closed-hor{  
  max-width: 0;
}
.closed-ver{
  max-height: 0;
}
.adm-btn{
  color: #fff;
  font-size: 13px;
  padding: 0 13px;
  width: 100%;
}
.adm-btn:hover{
  color: #fff;
}
.left-menu .big-sec-selected{
  margin-top: 5px;
  background-color: #0084B4;  
}
.left-menu .big-sec-selected .adm-btn{
  /* font-weight: bold; */
  /* color: rgb(221, 221, 221); */
}
.left-menu .big-sec{
  width: 100%;
  padding: 8px 0;
  height: 34px;
  line-height: 17px;
  cursor: pointer;
}
.left-menu .big-sec:hover{
  background-color: #0084B4;
}
.left-menu .big-sec:hover .adm-btn{
  color: rgb(221, 221, 221);
  color: #fff;
}
ul{
  list-style-type: none;
  padding-left:0;
}
.left-menu .small-sec{
  width: 100%;
  padding: 8px 0;
  height: 34px;
  line-height: 17px;
  cursor: pointer;
}
.left-menu .small-sec .adm-btn{
  color: #c3c4c5;
}
.left-menu .sub-selected .small-sec-active .adm-btn{
  color: #fff;
  font-weight: bold;
}
.left-menu .small-sec:hover .adm-btn{
  color: #0084B4;
}
.left-menu .sub-selected{
  background-color: #182430;
}
.progress{
  position: relative;
  max-width: 500px;
  /* opacity: 0; */
  margin-bottom: 12px;
}
.progress-percentage{
  color:#fff; 
  width:100%; font-size: .75rem; position:absolute; left:50%; height:30px; position: absolute; left: 0; height: 50px;
  text-align: center;
}
.sub-selected{
  max-height: 0;
  overflow-y: hidden;	
transition: max-height 0.5s ease-out;
}
.sub-selected-active{
  transition: max-height 0.5s ease-in;
  max-height: 500px;
}
.adm-btn .fa{
  margin-right: 10px;
}
.adm-separator{
  color:#fff; cursor:default;
  margin-left: -5px;
}
.right-menu{
  text-align: right;
  float: right;
}

/* INSIDE THE PAGES */
.adm-panel{  
  background-color: #fff;
  padding: 10px;
  font-size: 15px;
  /* font-family: Roboto; */
}

.disabled{
  background-color: #333;
}
.adm-title{
  font-size:20px;
}

.btn-frk{
  color: #fff;
  background-color: #0084B4;
  border-color: #0084B4;
}

.files{
  display: none;
}
.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none;
}
.btn{
  cursor: pointer;
}
.form-group{
  max-width: 500px;
}
.warning{
  box-shadow: 0 0 0 .2rem rgba(255, 0, 0, 0.25);
}


/* insert stories */
.form-large{
  width: 100%;
  max-width: none;
}


/* summernote */
.note-editing-area{
  /* text-align: center; */
}
.form-control{
  font-size: 13px;
}