RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?params=$1 [L,NC]

#RewriteRule ^([^/]+)/([^/]+)/?$ index.php?sez=$1&categ=$2 [L]
#RewriteRule ^([^/]+)/?$ index.php?sez=$1 [L]